/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

.card {
  border: none;
  background: transparent;
}
.card-body {
  background:transparent;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.nav-wrapper {
  .topbar {
    background-color:#333;
    a {
      color:#999;
      float:right;
      margin-right:20px;
      padding:5px;
      font-size:13px;
    }
  }
  nav.navbar {
    border-bottom:1px solid rgba(0,0,0,0.05);
    .navbar-brand {
      text-transform:uppercase;
      margin-right:50px;
    }
  }
}

.chainAccount{
  margin-right:15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.loader {
  color: #666;
  padding-top:15px;
  i {
    font-size:15px;
  }
}
